# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# NetBeans specific folders
nbproject/private/
build/
dist/

/Trabajo Práctico 5 - UML/TP5/nbproject/private/
/Trabajo Práctico 4 - POO/TP4/nbproject/private/
/Trabajo Práctico 2 - Programacion Estructurada/TP2/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio1-TrabajoPractico1/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio10-PruebaDeEscritorio/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio2-HolaMundo/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio3-Variables/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio4-Scanner/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio5-OperacionesAritmeticas/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio6-Escape/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio7-InstruccionesYExpresiones/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio8-Conversiones/nbproject/private/
/Trabajo Práctico 1 - Introducción a Java/Ejercicio9-Correccion/nbproject/private/
/Trabajo Practico 6 - Colecciones/TP6/nbproject/private/
/Trabajo Practico 6 - Colecciones/TP7/nbproject/private/
/Trabajo Practico 7 - Herencia y Polimorfismo/TP7/nbproject/private/
/Trabajo Practico 8 - Interfaces y Excepciones/TP8/nbproject/private/
